<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mari Mengenal Hewan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body class="has-text-centered">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            MAMAN
          </h1>
          <h2 class="subtitle">
            <!-- Tanyakan padaku tentang <strong>hewan</strong>! -->
            Mari Mengenal Hewan
          </h2>
        </div>
      </div>
    </section>
    <section id="main-content">
      <div id="content" class="container">
        <p id="text-state" style="font-size: 18px; padding: 16px;">Klik tombol di bawah dan katakan apa yang ingin kamu tahu!</p>
        <figure class="image is-96x96" id="button-record" style="display: block; margin: 0 auto; cursor: pointer; z-index: 10;">
          <img id="button-record-img" src="../static/microphone.png">
        </figure>
      </div>
    </section>
    <div class="modal" id="modal-image">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image is-4by3">
          <img id="modal-image-dom" src="../static/anjing.jpg" alt="">
        </p>
      </div>
      <button id="modal-image-close" class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="modal" id="modal-text">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" id="modal-text-title">
            <!-- title -->
          </p>
          <button id="modal-text-close" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body" id="modal-text-content">
          <!-- Content ... -->
        </section>
      </div>
    </div>
    <section id="bottom-image" style="position: absolute; bottom: 0; z-index: 1; left: 0; right: 0; margin: 0 auto;">
      <figure class="image">
        <img src="../static/animals-bg.png">
      </figure>
    </section>
  </body>
  <script src="../static/script.js"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</html>